/* body {
    background-repeat: no-repeat;
    background-size: cover;
}
html {
    background-image: url("images/bg.jpg");
} */
html {
    background-image: url("images/bg.jpg");
}
body {
    min-width: 50%;
    max-width: 525px;
    min-height: 525px;
    margin: 0 auto; /* centering trick */
    padding: 20px;
    background-color:#d384e8;
    opacity: 80%;
}
h1 {
    margin: 0 auto;
    text-align: center;
    color: #0b1fd9;
    
}
.gridTile {
    border: 2px solid black;
    width: 60px;
    height: 60px;
    padding: 3px;

    display: flex;

}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 420px;
    margin: 0 auto;
}

